body {
	background-image: url(big_game.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
	background-attachment: fixed;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	webkit-background-size:cover;
}
h1 {
	font-family: "Brush Script MT", cursive;
	color: #ffe699;
	font-size: 4.0em;
	text-align: center;
	position: static;
	line-height: 0.5em;
}

h2 {
	font-size: 2.85em;
	color:#ffe699;
	font-family: cursive;
	bottom: 0.5em;
	
	position: fixed;
	text-align: center;
	
}
button {
	background-size: 50px;
	font-family: Cursive;
	color: #ffe699;
	left: 35em;
	padding: 10px;
	bottom: 420px;
	border-radius: 12px;
	background-color: black;
	width: 250px;
	height: 50px;
	font-size: 15px;
	position: fixed;

}
/* div {
	border-radius: 5px;
	border: 2px solid #5B4D05;
	background-color: #625307;
	height: 50px;
	width: 120px;
	margin: auto;
	bottom: 0px;
	text-align: center;
} */